<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questo è il titolo di test
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questo è il titolo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pronto per creare un app con Ionic?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">

    </ion-badge>
  </ion-item>
  <ion-button color="primary">Primary</ion-button>
</ion-content>

